<div class="section">
<div class="section-heading"><a name="Recordings"></a>Recordings</div>

<p>
  In case you missed a meeting or cannot attend because your at
  the other side of the world, audio recordings of many of our past talks are
  available online for download (September 2004 to January 2006).
</p>
<p>
  For a list of available programs go to:
  <a href="http://hew.ca/talks_audio/">http://hew.ca/talks_audio/</a>
</p>

</div>
