# .gitignore for tpm-website
#
# Ignore patch- and backup-related stuff
*.rej
*.orig
*.patch
*.diff
*.bak
*.old
*.tmp

# Files and directories to be ignored
/Makefile
/blib
/cover_db
/logs
/tmp

MYMETA*

# carton
.carton
carton.lock
local
