<!DOCTYPE html>

<html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="author" content="The Toronto Perl Mongers Team">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>Toronto Perl Mongers</title>


    <link REL="SHORTCUT ICON" HREF="[% request.uri_base %]/favicon.ico">
    <link rel="stylesheet" href="[% request.uri_base %]/css/bootstrap.css">
    <link rel="stylesheet" href="[% request.uri_base %]/css/style.css" />
    <script src="[% request.uri_base %]/js/libs/modernizr-2.0.6.min.js"></script>
</head>

<body>

    <div class="topbar">
        <div class="fill">
            <div class="container">
                <a class="brand" href="#">Toronto Perl Mongers</a>
                <ul class="nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="[% request.uri_base %]/meetings">Meetings</a></li>
                    <li><a href="[% request.uri_base %]/projects">Projects</a></li>
                    <li><a href="[% request.uri_base %]/reviews">Reviews</a></li>
                    <li><a href="[% request.uri_base %]/sponsors">Sponsors</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="content">
            <div class="page-header">
                <h1>[% template.page_name %] <small>[% template.page_info %]</small></h1>
            </div>
            <div class="row">
                <div class="span10">
                    [% content %]
                </div>
                <div class="span4">
                    <h3>Calendar</h3>
                </div>
            </div>
        </div>
  
        <footer>
            <p>&copy; Toronto Perl Mongers 2011</p>
        </footer>

    </div> <!-- /container -->
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    <script type="text/javascript">/* <![CDATA[ */
    !window.jQuery && document.write('<script type="text/javascript" src="[% request.uri_base %]/javascripts/jquery.js"><\/script>')
/* ]]> */</script>
<!--
  <script>
    window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
    Modernizr.load({
      load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
    });
  </script>
-->

</body>
</html>
