<div id="page-content">
<p>
 </p>
 <ul>
  <li>
   <a href="http://mail.pm.org/mailman/listinfo/toronto-pm">Toronto Perlmongers Mailing List</a>
   </li>
  <li>
   <a href="http://www.pm.org/">PM Groups Worldwide</a>
   </li>
  <li>
   <a href="http://www.perl.org/">The Perl Programming Language</a>
   </li>
 </ul>

</div>
