<div id="page-content">

    <center><h1>Local Mongers</h1></center>

    <p>
    Here are some of the Mongers you might bump into at our regular meetings:
    </p>

	<ul>
    
[% FOREACH meeting IN meetings.ordered_meetings() %]

		<li>
			<a href="[% meeting.id %]">
			[% meeting.details.datetime.strftime('%d %B %Y') %] - [% meeting.label %]
			</a>
		</li>

[% END %]

	</ul>

</div>
