[% META menu_section = 'reviews' %]
[% META page_title = 'Reviews' %]
[% META page_info = 'From time to time members of the Toronto Perl Mongers review things.' %]
<ul>
    <li>
       <a href="/reviews/alan-camel">Alan Rocker's July 2010 review of Programming Perl 3<sup>rd</sup> Edition</a>
    </li>
</ul>
