/* base tag overrides */

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html, body {
    background-color: #eee;
}

body {
    padding-top: 40px;
}

footer > p {
    text-align: center;
}

/* TPM styles */

.center-text {
    text-align: center;
}

.heading {
    width: 100%;
    text-align: left;
    font-family: 'Voces', sans-serif;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 1px groove #666666;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.meeting-date {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 24px;
    font-weight: bold;
    color: #666666;
    margin-bottom: 8px;
}

.meeting-details {
    width: inherit;
    font-size: 18px;
    margin-bottom: 30px;
}

.meeting-details .info {
    width: 70%;
    text-align: right;
    margin-bottom: 8px;
}

.meeting-details .section {
    width: 30%;
    font-weight: bold;
    margin-bottom: 8px;
}

.meeting-label {
    width: 100%;
    text-align: right;
    font-family: 'Voces', sans-serif;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 1px groove #666666;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.meeting-synopsis {
    width: 100%;
}

.meeting-talk-description {
    width: 100%;
    border-bottom: 1px groove #999999;
    padding-top: 5px;
    margin-bottom: 10px;
}

.meeting-talk-title {
    font-family: 'Voces', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.meetings-row {
    width: 100%;
    margin-bottom: 10px;
}

.meetings-row .meetings-date {
    width: 150px;
}

.meetings-row .meetings-label {
    line-height: 20px;
}

.page-header {
    font-family: 'Voces', sans-serif;
    background-color: #f5f5f5;
    padding: 20px 20px 10px;
    margin: -10px 0 20px;
}

.page-info {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
    color: #999;
}

.sidebar-title {
    font-family: 'Voces', sans-serif;
    font-size: 12px;
    color: #333333;
}

/* overridden Bootstrap styles */

.container-fluid > .row-fluid > .content {                                                                                                                                                       
    margin-left: 0;                                                                                                                                                                              
    margin-right: 200px;                                                                                                                                                                         
} 

.container-fluid > .sidebar {                                                                                                                                                                    
    left: auto;                                                                                                                                                                                  
    right: 20px;                                                                                                                                                                                 
}

.hero-unit h1 {
    font-size: 40px;
}

.hero-unit p {
    font-size: 16px;
}

.navbar {
    font-family: 'Voces', sans-serif;
}
